html{font-size: 15px;}
@media only screen and (min-width: 1700px){ html{font-size: 31px;}}



body {
      
     width: 100%;
/*     font-family: 'Lato', sans-serif;*/
     font-family: 'Open Sans', serif;
 }



.lato {font-family: 'Lato', sans-serif;}
 
 * {
     margin: 0;
     border: 0;
     padding: 0;
     box-sizing: content-box;
 }
 
 .hd-part1 {
     background: #1d5892;
     position: relative;
 }
 
 .hd-part1 .hd-image-logo {
     position: absolute;
     top: 1vw;
     left: 2vw;
     width: 28vw;
 }
 
 .hd-part1 .hd-image {
     display: block;
     /* width: 100vw; */
     width: 100%;
 }
 
 .hd-part1 .hd-div-right {
     position: absolute;
     width: 20vw;
     right: 1vw;
     top: 1vw;
     color: white;
     text-align: right;
     font-size: 1.3rem;
     font-size: 2.2vw;
     overflow: hidden;
     max-height: 100%;
 }
 
 .hd-part2 {
     /* background: #1d5892; */
     width: 100%;
     text-align: center;
     /* font-size: 0; */
     margin-top: 3px;
 }






 /*menu                   ************************************************/


.menu-ul {list-style: none;}
.menu-li {
    display: block;
    /*  */
    border-top: 16px solid white;
}

.menu-li a {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', serif;
    color: white;
    text-decoration: none;
    background: #1d5892;
    display: block;
    }
 
@media only screen and (min-device-width: 700px){
    .menu-li a {}
    .menu-li {display:inline-block;border-top: 0;margin: 0 15px;}
    .menu-ul{background: #1d5892;padding: 10px 0;}
    
}
@media only screen and (max-device-width: 700px){
    .menu-li {padding: 0px 0;-webkit-border-radius: 6px 6px 6px 6px;border-radius: 6px 6px 6px 6px;border: 3px solid #1d5892;margin: 1vw 0;}
    .menu-li a {font-size: 6vw;} 
}



/* NEWS                                          *****************************************/

@media only screen and (min-device-width: 700px){
.news{
   
display: flex;
   
/* flex-direction: row; */
   
flex-wrap: nowrap;
   
justify-content: center;
   
align-items: center;
   
margin: 30px 10px 0 10px;
   
position: relative;
   
border-top: 2px solid red;
   
border-bottom: 1px solid red;
   
padding: 8px 0 8px 0;
}

.news:before{content:"Nowości !"; background: RED; position: absolute; top: -1rem; left: 0; padding: 0px 1.3rem; line-height: 1rem; color: white;
    transition: transform ease .5s;
}

.news:hover:before {transform: rotateX(360deg);}

.news .news-one {
    display: inline-block;
    width: 14.2vw;
    height: 14.2vw;
    background: grey;
    /* border: 1px solid YELLOW; */
    flex 1;
    overflow: hidden;
    margin: 0 4px;
    position: relative;
}

.news-image{
    /* z-index: 0; */
    position: absolute;
    top: 0;
    left: 0;
    height: 14.2vw;
}
.news-one h1 {
    position: absolute;
    /* top: 60%; */
    left: 0;
    bottom: 0;
    color: #574940;
    font-size: .5rem;
    font-size: 1.2vw;
    display: block;
    background: white;
    opacity: .75;
    padding: 0 20px 0 3px;
    overflow: hidden;
    -webkit-border-radius: 0 10px 0px 0;
    border-radius: 0 10px 0px 0;
    /* max-width: 80%; */
    margin-right: 10px;
    height: 40%;
    transition: height .8s cubic-bezier(0, 0, 0.13, 1.05);
}

.news-one:hover h1 {
    height: 80%;
}

}


.fill-w{height:14.2vw;}
.fill-h{width:14.2vw;}


/* <700 */

@media only screen and (max-device-width: 700px){
    .news {display: flex; flex-direction: column;}
    .news .news-one {width: 100%; height: auto; display: flex; align-items: center; justify-content: space-between; width: 70vw;}
    .news-image {height: inherit;  }
    .news-one h1 {display: block;  }
}






 .nobr {
     white-space: nowrap;
 }